@import url('../fonts/sans/stylesheet.css');
@import url('../fonts/serif/stylesheet.css');

body{
    padding: 0;
    margin: 0;
    font-family: "LiberationSans", sans-serif;
    font-size: 14px;
    color: #333;
}

.center, section{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 760px;
}

h1, h2, h3, h5, h6{
    font-weight: normal;
}

h4{
    font-weight: bold;
}

section{
    margin-bottom: 10px;
    overflow: hidden;
}

section>p, section>pre, section>ul{
    margin-left: 60px;
    margin-right: 40px;
}

ul{
    padding-left: 40px;
}

li{
   margin: 20px 0; 
}

a{
    text-decoration: none;
    color: #2B599D;
}

a:hover{
    color: #333;
}

a.thumbnail{
    margin: 40px 26px;
}

pre{
    border: 1px dashed #fff;
    padding: 10px;
    background-color: #000;
    color: #fff;
    line-height: 25px;
    overflow-x: auto;
}

code{
    padding: 2px;
    font-style: italic;
}

header{
    background-color: #87AADE;
    background-image: url('../img/sky.png');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.header-content{
    position: relative;
    /*color: #2B599D;*/
    background-color: #fff;
    background-image: url('../img/header_bg.png');
    background-position: center bottom;
    background-repeat: repeat-x;
    min-height: 150px;
    box-shadow: 0 2px 25px #333;
}

header h1{
    font-family: "LiberationSerif", serif;
    font-size: 400%;
    font-style: italic;
    margin: 0;
    padding: 30px 0 0 0;
    text-shadow: 1px 1px 1px #aaa;
}

header h2{
    font-size: 120%;
    margin: 0;
    margin: 0 0 0 100px;
}

nav{
    overflow: hidden;
}

nav ul{
    font-size: 90%;
    list-style-type: none;
    float: right;
    font-weight: bold;
    margin: 10px 0;
}

nav ul li{
    display: inline-block;
    margin: 20px 0 0 20px;
}

.sky{
    width: 100%;
    height: 300px;
}

.content{
    border-top: 1px solid #999;
    background-color: #fff;
    background-image: url('../img/content_bg.png');
    background-position: center top;
    background-repeat: repeat-x;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer{
    background-color: #212121;
    color: #fff;
    padding: 10px;
    font-size: 80%;
}

footer>p{
    text-align: center;
}

#latest-container{
    position: relative;
    height: 300px;
}

#latest{
    width: 150px;
    height: 150px;
    background-image: url('../img/latest.svg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin: 200px 20px 0 0 ;
    float: right;
    
    transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -o-transform:rotate(15deg);
}

#features-list{
    overflow: hidden;
    margin: 0;
}

#features-list li{
    width:  200px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#lingua-icon{
    display: block;
    margin: 10px 20px;
}

#tree{
    width: 41px;
    height: 102px;
    background-image: url('../img/tree.svg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin: -112px 0 0 0 ;
    float: right;
}

#fancybox-title{
    font-family: 'LiberationSans';
    font-weight: bold;
    color: #333;
}


#containingBlock {
	width: 100%;
	max-width: 640px;
	margin:60px auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	font-size:.9em;
}
* html .videoWrapper {
  margin-bottom: 30px;
  margin-bot\tom: 0;
}
.videoWrapper div,
.videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

